<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.50.0" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.50.0" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.50.0" targetFramework="net461" />
  <package id="Google.Apis.YouTube.v3" version="1.50.0.2238" targetFramework="net461" />
  <package id="Google.Apis.YouTubePartner.v1" version="1.35.1.1334" targetFramework="net461" />
  <package id="GraphQL.Client" version="3.2.2" targetFramework="net461" />
  <package id="GraphQL.Client.Abstractions" version="3.2.2" targetFramework="net461" />
  <package id="GraphQL.Client.Abstractions.Websocket" version="3.2.2" targetFramework="net461" />
  <package id="GraphQL.Client.Serializer.Newtonsoft" version="3.2.2" targetFramework="net461" />
  <package id="GraphQL.Primitives" version="3.2.2" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.2.6" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="3.1.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="StreamingClientLibrary.Base" version="1.0.0.4" targetFramework="net461" />
  <package id="StreamingClientLibrary.Glimesh" version="1.0.0.8" targetFramework="net461" />
  <package id="StreamingClientLibrary.Trovo" version="1.0.0.7" targetFramework="net461" />
  <package id="StreamingClientLibrary.Twitch" version="1.0.0.25" targetFramework="net461" />
  <package id="StreamingClientLibrary.YouTube" version="1.0.0.6" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Net.WebSockets.Client.Managed" version="1.0.22" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.3.2" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>