:root {
  --avt-bgcolor: #282828;
  --avt-background: #1E1E1E;
  --avt-color:  #FFF;
  --avt-bordercolor: #3a3a3a;
  --avt-buttonbordercolor: #969696;
  --avt-borderradius: 0px;
  --avt-width: 224px;
  --avt-fontweight: 500;
  --avt-letterspacing: 0pt;
  --avt-input-font-size : 11px;
  --avt-item-width: 100%;
  --avt-option-width: 341px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */  
}

html {
  --avt-bgcolor: #282828;
  --avt-background: #1E1E1E;
  --avt-color:  #FFF;
  --avt-bordercolor: #3a3a3a;
  --avt-buttonbordercolor: #969696;
  --avt-borderradius: 0px;
  --avt-width: 224px;
  --avt-fontweight: 500;
  --avt-letterspacing: 0pt;
  --avt-input-font-size : 11px;
  --avt-item-width: 100%;
  --avt-option-width: 341px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  touch-action:none;
}

* {
  font-family: Helvetica, Arial;
  box-sizing: border-box;
}
html, body {
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-family: Helvetica, Arial;
  font-size: 10pt;
	background-color: var(--avt-bgcolor);
	color: var(--avt-color);
}

body {
  height: 100%;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

mark {
  background-color: var(--avt-bgcolor);
  color: var(--avt-color);
}

hr, hr2 {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  border-style: none;
  background: var(--avt-background);
  height: 1px;
}

hr2 {
  height: 2px;
}

hr, hr2 {
  margin-left:16px;
  margin-right:16px;
}


option,
input,
button {
  padding: 6px 10px;
  font-size: var(--avt-input-font-size);
  font-weight: var(--avt-fontweight);
  letter-spacing: var(--avt-letterspacing);
}
.avt-item-value,select{
  padding: 6px 25px 6px 10px;
  font-size: var(--avt-input-font-size);
  font-weight: var(--avt-fontweight);
  letter-spacing: var(--avt-letterspacing);
}

::-webkit-progress-value,
meter::-webkit-meter-optimum-value {
  border-radius: 2px;
  /* background: linear-gradient(#ccf, #99f 20%, #77f 45%, #77f 55%, #cdf); */
}

::-webkit-progress-bar,
meter::-webkit-meter-bar {
  border-radius: 3px;
  background: var(--avt-background);
}

::-webkit-progress-bar:active,
meter::-webkit-meter-bar:active {
  border-radius: 3px;
  background: #222222;
}
::-webkit-progress-value:active,
meter::-webkit-meter-optimum-value:active {
  background: #99f;
}

progress,
progress.avt-item-value {
  min-height: 5px !important;
  height: 5px;
  background-color: #303030;
}

progress {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

::-webkit-progress-inner-element {
  background-color: transparent;
}

.avt-item > *:not(.avt-item-label):not(meter):not(details):not(canvas) {
  min-height: 22px;
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: url(dropdown_n.png) no-repeat 100% center;
  border: 0;
}

select:hover {
  background: var(--avt-background) url(dropdown_m.png) no-repeat 100% center;
}

select:disabled:hover{
  background: var(--avt-background) url(dropdown_n.png) no-repeat 100% center;
}


.avt-item-dropdown {
  position: relative;
  background-color : var(--avt-background) !important;

  font-size: var(--avt-input-font-size);
  font-weight: var(--avt-fontweight);
  letter-spacing: var(--avt-letterspacing);

}

/*Select */
.avt-item-dropdown-value {
  position: relative;
}

.avt-item-dropdown-value input{
  cursor: default;
}

.avt-item-dropdown-value .avt-item-caret {
  content : url(dropdown_n.png);
  position: absolute;
  right: 0;
  top: 1px;
}

.avt-item-dropdown-value .avt-item-caret:hover {
  /* background: url(dropdown_m.png) no-repeat 97% center; */
  content : url(dropdown_m.png);
}

.avt-item-dropdown-value .avt-item-caret:active {
  /* content : url(dropdown_c.png); */
}

.avt-item-dropdown.disabled .avt-item-caret:hover{
  content : url(dropdown_n.png);
}


::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #000;
}

select::-webkit-scrollbar,
::-webkit-scrollbar
{
    width: 3px;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #FF9900;
}


ul.avt-item-select {
  display: none;
  padding: 0;
  overflow-x: hidden;
  list-style-type: none;
  position: absolute;
  z-index: 999;
  height: 100px;
  width: var(--avt-item-widt - 3px);
  overflow-y: overlay;
}



ul.avt-item-select .avt-item-options{
  padding: 1px 4px;
  height: 20px;
  background-color : var(--avt-background);
  width: var(--avt-option-width);
  line-height: 20px;
  cursor: default;
}

ul.avt-item-select .avt-item-options:hover{
  color: #ff9900;
  border: 1px solid #ff9900;
}

.avt-item-value-helper {
  text-align: right;
  width: var(--avt-item-width);
  color: #A1A1A1;
  display: block;
}

label.avt-file-label,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"],
input[type=file]::-webkit-file-upload-button,
button,
select{
  color: var(--avt-color);
  /* border: 1pt solid #303030; */
  font-size: 8pt;
  background-color: var(--avt-background);
  border-radius: var(--avt-borderradius);
}

label.avt-file-label,
input[type="button"],
input[type="submit"],
input[type="reset"],
/* input[type="file"],
input[type=file]::-webkit-file-upload-button, */
button {
  border: 1pt solid var(--avt-buttonbordercolor);
  border-radius: var(--avt-borderradius);
  border-color: var(--avt-buttonbordercolor);
  min-height: 23px !important;
  height: 23px !important;
  margin-right: 8px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="file"] {
  border-radius: var(--avt-borderradius);
  max-width: 344px;
}

option {
  height: 1.5em;
  padding: 4px;
}

/* avt */

.avt-wrapper {
  overflow-x: hidden;
  height: 100%;
}

.avt-item {
  display: flex;
  flex-direction: column;

  min-height: 32px;
  margin-top: 6px;
  max-width: 344px;
  width: var(--avt-item-width);
  -webkit-user-drag: none;
}

.avt-item-group {
  padding: 0 !important;
}

meter.avt-item-value {

}

dl,
ul,
ol {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 4px;
  -webkit-padding-start: 1em;
  max-height: 90px;
  overflow-y: scroll;
  cursor: pointer;
  user-select: none;
}

table.avt-item-value,
dl.avt-item-value,
ul.avt-item-value,
ol.avt-item-value {
  -webkit-margin-before: 4px;
  -webkit-margin-after: 8px;
  -webkit-padding-start: 1em;
  width: var(--avt-width);
  text-align: center;
}

table > caption {
  margin: 2px;
}

.list,
.avt-item[type="list"] {
  align-items: baseline;
}

.avt-item-label, .avt-first-item-label {
  color: #A1A1A1;
  width: var(--avt-item-width);
  padding: 2px;
  font-weight: 600;
  -webkit-user-select: none;
}

.avt-item-label {
  margin-top: 8px;
}

.win .avt-item-label,
.avt-item-label > small{
  font-weight: normal;
}

.avt-item-label:after {
  content: "";
}

.avt-item-label.empty:after {
  content: "";
}

.avt-test,
.avt-item-value {

}

canvas.avt-item-value {
  max-width: 144px;
  max-height: 144px;
  width: 144px;
  height: 144px;
  margin: 0 auto;
  cursor: pointer;
}

input.avt-item-value {

}


.avt-item-value.range {
  margin-left: 0px;
}


ol.avt-item-value,
.avt-item-value > ol[listtype="none"] {
  list-style-type: none;
}
ol.avt-item-value[type="decimal"],
.avt-item-value > ol[type="decimal"] {
  list-style-type: decimal;
}

ol.avt-item-value[type="decimal-leading-zero"],
.avt-item-value > ol[type="decimal-leading-zero"] {
  list-style-type: decimal-leading-zero;
}

ol.avt-item-value[type="lower-alpha"],
.avt-item-value > ol[type="lower-alpha"] {
  list-style-type: lower-alpha;
}

ol.avt-item-value[type="upper-alpha"],
.avt-item-value > ol[type="upper-alpha"] {
  list-style-type: upper-alpha;
}

ol.avt-item-value[type="upper-roman"],
.avt-item-value > ol[type="upper-roman"] {
  list-style-type: upper-roman;
}

ol.avt-item-value[type="lower-roman"],
.avt-item-value > ol[type="lower-roman"] {
  list-style-type: upper-roman;
}


td.selected,
td.selected:hover,
li.selected:hover,
li.selected {
  color: white;
  background-color: #77f;
}

tr {
  border: 1px solid var(--avt-bordercolor);
}

td {
  border-right: 1px solid var(--avt-bordercolor);
  -webkit-user-select: none;
}

tr:last-child,
td:last-child {
  border: none;
}



::-webkit-calendar-picker-indicator:focus,
input[type=file]::-webkit-file-upload-button:focus,
button:focus,
textarea:focus,
input:focus,
select:focus,
option:focus,
details:focus,
summary:focus,
.custom-select select {
  outline: none;
}

input:not([type="range"]),input:not([type="radio"])
textarea {
  -webkit-appearance: none;
  background: var(--avt-background);
  font-size: var(--avt-input-font-size);
  color: var(--avt-color);
  font-weight: var(--avt-fontweight);
  border: none;
  width: 100%;
  height: 22px;
  padding: 6px 10px;
}

.avt-item-value > textarea {
  width: var(--avt-item-width);
}

textarea {
  height: 3em;
  word-break: break-word;
  line-height: 1.5em;
}

.textarea {
  padding: 0px !important;
}

textarea {
  width: var(--avt-item-width); /*98%;*/
  height: 96%;
  min-height: 6em;
  resize: none;
  border-radius: var(--avt-borderradius);
}



a {
  color: #7397d2;
}



:disabled {
  color:#A1A1A1;
}

select,
select option {
  color: var(--avt-color);
  background-color: var(--avt-background);
}

select.disabled,
select option:disabled {
  font-style: italic;
}


/* input radio */
input[type='radio'] {
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	border: 1px solid var(--avt-background);
	border-radius: 100%;
	outline: none;
	background: var(--avt-background);
  padding: 0;
  margin-right: 10px;
}
input[type='radio']:hover {
	border: 1px solid var(--avt-background);
}
input[type='radio']:before {
	content:'';
	display: block;
	width: 50%;
	height: 50%;
	margin: 25% auto;    
	border-radius: 100%;    
	background: var(--avt-background);
}
input[type='radio']:checked:before {
	background: #FF9900;
}
input[type='radio']:disabled:checked:before {
	background: #707070;
}
input[type='radio']:checked {
	background: var(--avt-background);
	border: 1px solid var(--avt-background);
}
input[type='radio']:checked:hover {
	background: var(--avt-background);
	border: 1px solid var(--avt-background);
}
.radio_wrap{
	display: flex;
  padding: 0;
  margin-bottom: 10px;
}
/* .avt-item-value:nth-child(1){
  margin-right: 38px;
} */
.radio_wrap > label{
	display: flex;
	align-items: center;
  padding: 0;
}

#hr_collection,#min_collection,#am_pm_collection{
  width: 64px;
  margin: 0;
}
.set-time{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 252px;
}

input[type="file"]{
  height: 40px;
}
.ring_wrap{
  display: flex;
  justify-content: space-between;
  width: 410px;
}
.ring_wrap > select{
  width: 84%;
}
.ring_wrap > img{
  width: 24px;
  height: 24px;
}
.output_wrap{
  display: flex;
  width: 410px;
}
.output_wrap > select{
  width: 84%;
}
.output_wrap > img{
  margin-left: 10px ;
  width: 24px;
  height: 24px;
}

.head_img{
  text-align: center;
}
#file-uploader{
  display: none;
}
#hr_collection,#min_collection,#am_pm__collection{
  width: 64px;
}

#add_img,
#refresh{
  border-radius: 3px;
  background-color: #1E1E1E;
}

#add_img:hover{
	background-color: #323232;
}

#refresh:hover{
	background-color: #323232;
}

#add_img:active:hover{
	background-color: #191919;
}
#refresh:active:hover{
	background-color: #191919;
}

.visible{
  border-radius: 3px;
  background-color: #1E1E1E;
}
.visible:hover{
	background-color: #323232;
}
.visible:active:hover{
	background-color: #191919;
}

.disable{
  border-radius: 3px;
  background-color: #1E1E1E;
  opacity: 0.5;
}

@font-face {
  font-family: 'DotGothic16-Regular';
  src: url('property/fonts/DotGothic16-Regular.ttf');
}