<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.107.4" targetFramework="net461" />
  <package id="AWSSDK.Polly" version="3.7.107.6" targetFramework="net461" />
  <package id="CacheManager.Core" version="1.2.0" targetFramework="net462" />
  <package id="CacheManager.SystemRuntimeCaching" version="1.2.0" targetFramework="net462" />
  <package id="EngineIoClientDotNet" version="1.0.6" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net461" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net461" />
  <package id="gong-wpf-dragdrop" version="2.3.2" targetFramework="net461" />
  <package id="Google.Apis" version="1.68.0" targetFramework="net462" />
  <package id="Google.Apis.Auth" version="1.68.0" targetFramework="net462" />
  <package id="Google.Apis.Core" version="1.68.0" targetFramework="net462" />
  <package id="Google.Apis.YouTube.v3" version="1.68.0.3582" targetFramework="net462" />
  <package id="Google.Apis.YouTubePartner.v1" version="1.35.1.1334" targetFramework="net461" />
  <package id="GraphQL.Client" version="4.0.2" targetFramework="net461" />
  <package id="GraphQL.Client.Abstractions" version="4.0.2" targetFramework="net461" />
  <package id="GraphQL.Client.Abstractions.Websocket" version="4.0.2" targetFramework="net461" />
  <package id="GraphQL.Client.Serializer.Newtonsoft" version="4.0.2" targetFramework="net461" />
  <package id="GraphQL.Primitives" version="4.0.2" targetFramework="net461" />
  <package id="H.Engine.IO" version="1.1.7.1" targetFramework="net461" />
  <package id="H.Socket.IO" version="1.1.7.1" targetFramework="net461" />
  <package id="H.WebSockets" version="1.1.7.1" targetFramework="net461" />
  <package id="HarfBuzzSharp" version="2.8.2.3" targetFramework="net462" />
  <package id="HarfBuzzSharp.NativeAssets.macOS" version="2.8.2.3" targetFramework="net462" />
  <package id="HarfBuzzSharp.NativeAssets.Win32" version="2.8.2.3" targetFramework="net462" />
  <package id="ID3" version="0.6.0" targetFramework="net462" />
  <package id="Jace" version="1.0.0" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="2018.3.0" targetFramework="net462" />
  <package id="LiveChartsCore" version="2.0.0-beta.802" targetFramework="net462" />
  <package id="LiveChartsCore.SkiaSharpView" version="2.0.0-beta.802" targetFramework="net462" />
  <package id="LiveChartsCore.SkiaSharpView.WPF" version="2.0.0-beta.802" targetFramework="net462" />
  <package id="MaterialDesignColors" version="2.0.1" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="4.1.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights" version="2.20.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Connections.Abstractions" version="6.0.3" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Http.Connections.Client" version="6.0.3" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Http.Connections.Common" version="6.0.3" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Http.Features" version="5.0.15" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.SignalR.Client" version="6.0.3" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.SignalR.Client.Core" version="6.0.3" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.SignalR.Common" version="6.0.3" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.SignalR.Protocols.Json" version="6.0.3" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.CognitiveServices.Speech" version="1.38.0" targetFramework="net462" />
  <package id="Microsoft.Data.Sqlite" version="6.0.3" targetFramework="net461" />
  <package id="Microsoft.Data.Sqlite.Core" version="6.0.3" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="6.0.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Features" version="6.0.3" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.2.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Hosting" version="4.2.0" targetFramework="net461" />
  <package id="NAudio" version="1.9.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net462" />
  <package id="obs-websocket-dotnet" version="4.9.1" targetFramework="net461" />
  <package id="ovrstream-client-csharp" version="0.0.2" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="SixLabors.ImageSharp" version="2.1.0" targetFramework="net461" />
  <package id="SkiaSharp" version="2.88.3" targetFramework="net462" />
  <package id="SkiaSharp.HarfBuzz" version="2.88.3" targetFramework="net462" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.3" targetFramework="net462" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.3" targetFramework="net462" />
  <package id="SkiaSharp.Views.Desktop.Common" version="2.88.3" targetFramework="net462" />
  <package id="SkiaSharp.Views.WPF" version="2.88.3" targetFramework="net462" />
  <package id="SocketIoClientDotNet" version="1.0.6" targetFramework="net461" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="2.0.7" targetFramework="net461" />
  <package id="SQLitePCLRaw.core" version="2.0.7" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.0.7" targetFramework="net461" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.0.7" targetFramework="net461" />
  <package id="SuperSocket.ClientEngine.Core" version="0.10.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net461" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net462" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Pipelines" version="6.0.2" targetFramework="net461" />
  <package id="System.IO.Ports" version="6.0.0" targetFramework="net461" />
  <package id="System.Linq" version="4.3.0" targetFramework="net461" />
  <package id="System.Management" version="7.0.2" targetFramework="net462" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Security" version="4.3.2" targetFramework="net461" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.WebSockets.Client.Managed" version="1.0.22" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net461" />
  <package id="System.Reactive.Core" version="5.0.0" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="5.0.0" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="5.0.0" targetFramework="net461" />
  <package id="System.Reactive.PlatformServices" version="5.0.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
  <package id="System.Speech" version="7.0.0" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net461" />
  <package id="System.Text.Json" version="6.0.2" targetFramework="net461" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net461" />
  <package id="System.Threading" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Channels" version="6.0.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="WebSocket4Net" version="0.15.2" targetFramework="net461" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net461" />
  <package id="WebSocketSharp-netstandard" version="1.0.1" targetFramework="net461" />
  <package id="WriteableBitmapEx" version="1.6.8" targetFramework="net462" />
</packages>