<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net452" />
  <package id="mixer-client-csharp" version="0.3.0-beta" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="obs-websocket-dotnet" version="1.0.2-alpha" targetFramework="net461" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net461" />
</packages>